<!-- Button: Lucky + Result  -->
<div class="buttons-area">
  <div class="d-block mb-3">
    <img src="../../../../assets/4.gif" alt="lucky">
    <button class="btn btn-warning mx-2 btn-lucky" [routerLink]="['/lucky']">
      <b>Lucky</b>
    </button>
    <img src="../../../../assets/4.gif" alt="lucky">
  </div>
  <div class="d-block">
    <img src="../../../../assets/3.gif" alt="lucky">
    <button class="btn btn-success mx-2" [routerLink]="['/result']">
      <b>Result</b>
    </button>
    <img src="../../../../assets/3.gif" alt="lucky">
  </div>
</div>