<div class="card bg-light">
  <div class="card-header d-flex justify-content-between">
    <h5><i class="fa fa-gift"></i> Giải Thưởng</h5>
    <button class="btn btn-sm btn-primary rounded-pill" (click)="resetForm()">
      <i class="fa fa-plus"></i> Tạo Mới
    </button>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- Danh sách giải thưởng -->
      <div class="col-8">
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Tên Giải Thưởng</th>
                <th>Số Lượng</th>
                <th>Số Lần Quay</th>
                <th>Vị Trí</th>
                <th>Trạng Thái</th>
                <th>Hình Ảnh</th>
                <th>Hành Động</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of prizes">
                <td>{{item.prizeName}}</td>
                <td>{{item.qty}}</td>
                <td>{{item.spinTime}}</td>
                <td>{{item.seq}}</td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" [id]="item.prizeID"
                      [checked]="item.visible" (change)="switchPrizeVisible(item.prizeID)">
                    <label class="custom-control-label" [for]="item.prizeID"></label>
                  </div>
                </td>
                <td>
                  <img class="img-fluid" width="150px" [alt]="item.image"
                    [src]="rootUrl + 'images/' + (item.image ? item.image : 'gift-icon.jpg')">
                </td>
                <td>
                  <button class="btn btn-sm btn-block btn-warning rounded-pill"
                    (click)="updatePrize(item)">Sửa</button>
                  <button class="btn btn-sm btn-block btn-danger rounded-pill"
                    (click)="deletePrize(item.prizeID)">Xoá</button>
                </td>
              </tr>
              <tr *ngIf="prizes.length === 0">
                <td colspan="100%" class="table-warning text-center font-weight-bold">Không Có Dữ Liệu!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Thêm / Sửa giải thưởng -->
      <div class="col-4">
        <form [formGroup]="prizeForm" (ngSubmit)="prizeForm.valid && save()">
          <input formControlName="prizeID" type="text" hidden="true" name="prizeID" class="form-control">
          <input formControlName="seq" type="number" hidden="true" name="seq" class="form-control">
          <div class="form-group">
            <label class="badge badge-warning rounded-pill">Tên Giải Thưởng</label>
            <input formControlName="prizeName" type="text" name="prizeName" class="form-control"
              placeholder="Nhập tên giải thưởng...">
          </div>
          <div class="form-group">
            <label class="badge badge-warning rounded-pill">Số Lượng</label>
            <input formControlName="qty" type="number" name="qty" class="form-control" placeholder="Nhập số lượng...">
          </div>
          <div class="form-group">
            <label class="badge badge-warning rounded-pill">Số Lần Quay</label>
            <input formControlName="spinTime" type="number" name="spinTime" class="form-control"
              placeholder="Nhập số lần quay...">
          </div>
          <div class="form-group">
            <label class="badge badge-warning rounded-pill">Vị Trí</label>
            <input formControlName="seq" type="number" name="seq" class="form-control"
              placeholder="Nhập vị trí...">
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class="badge badge-warning rounded-pill">Hình Ảnh</label>
              <div class="card card-upload">
                <img class="img-fluid" [src]="prizeImgSrc" />
                <div class="card-body text-center p-0">
                  <label class="btn btn-primary upload m-0 w-100">
                    Tải Lên
                    <input type="file" class="uploadFile img" value="Upload Photo"
                      style="width: 0px; height: 0px; overflow: hidden;" (change)="onSelectFile($event)" />
                  </label>
                </div>
              </div>
            </div>
            <div class="col-8 pt-4 text-right">
              <button type="button" class="btn btn-danger mr-1 rounded-pill" (click)="resetForm()">
                <i class="fa fa-times"></i> Huỷ
              </button>
              <button type="submit" class="btn btn-success rounded-pill" [disabled]="prizeForm.invalid">
                <i class="fa fa-check"></i> Lưu
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>