<img class="admin-background" src="../../../../assets/admin-bg.jpg" alt="admin-bg.jpg">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['cai-dat']">Cài Đặt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['danh-sach']" routerLinkActive="active">
            <i class="fa fa-users"></i> CB-CNV
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['giai-thuong']" routerLinkActive="active">
            <i class="fa fa-gift"></i> Giải Thưởng
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['cau-hinh']" routerLinkActive="active">
            <i class="fa fa-cog"></i> Cấu Hình
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['']" routerLinkActive="active">
            <i class="fa fa-home"></i> Trang Chủ
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>