USE [master]
GO
CREATE DATABASE [LuckyV2]
GO
USE [LuckyV2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Config](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WatingTime] [int] NULL,
	[Background] [nvarchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Emp](
	[EmpID] [int] IDENTITY(1,1) NOT NULL,
	[EmpCode] [nvarchar](10) NULL,
	[EmpName] [nvarchar](255) NULL,
	[EmpDept] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Prize](
	[PrizeID] [int] IDENTITY(1,1) NOT NULL,
	[PrizeName] [nvarchar](255) NULL,
	[Qty] [int] NULL,
	[SpinTime] [int] NULL,
	[Image] [nvarchar](255) NULL,
	[Visible] [bit] NULL,
	[Seq] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Record](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PrizeID] [int] NULL,
	[EmpCode] [nvarchar](10) NULL,
	[Visible] [bit] NULL
) ON [PRIMARY]
GO
USE [master]
GO
