.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -9;

  & .lucky-background {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.gift-box-icon {
  width: 7rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: absolute;
  z-index: 1;
  right: 2rem;
  top: 2rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 0 0 5px #000000;
  border: double 10px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #EFD313, #FF4200);
  background-origin: border-box;
  background-clip: content-box, border-box;

  &:hover {
    transform: scale(1.1, 1.1);
  }
}

.spin-icon {
  width: 7rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: absolute;
  z-index: 1;
  right: 10rem;
  top: 2rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 0 0 5px #000000;
  border: double 10px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #EFD313, #FF4200);
  background-origin: border-box;
  background-clip: content-box, border-box;

  &:hover {
    transform: scale(1.1, 1.1);
  }
}

.list-prize {
  position: absolute;
  width: 25rem;
  z-index: 2;
  right: 6rem;
  top: 10rem;
  font-size: 1.25rem;

  & .list-group-item {
    font-weight: bold;
    color: #D70000;
  }

  & .active {
    color: #D70000;
    background: radial-gradient(circle at top right, #EFD313, #F6EEA4);
    border-color: #FEEC00;
  }
}

.prize-name {
    margin: 3rem;
    box-shadow: inset 0 0 5px #000000;
    border: double 10px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #EFD313, #FF4200);
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-size: 3rem;
    font-weight: bold;
    color: red;
    text-align: center;
    border-radius: 3rem;
}

.prize-img-wrapper {
  width: 15rem;
  bottom: 3rem;
  position: absolute;
  left: 3rem;
  

  & img {
    border-radius: 2rem;
    border: double 10px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #EFD313, #FF4200);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.spin-items {
  margin: 0 3rem;

  & .spin-item {
    border: 1px solid black;
    background-color: #EFD313;
    height: 10rem;
  }
}