<!-- Lucky Background -->
<div class="wrapper">
  <video class="lucky-background" src="../../../../assets/lucky-background.mp4" autoplay muted loop></video>
</div>


<div class="container-fluid">
  <!-- Ribbon Prize Name -->
  <div class="ribbon-prize-name row justify-content-center">
    <div class="col-8">
      <div class="prize-name">
        <span>{{selectedPrize.prizeName}}</span>
      </div>
    </div>
  </div>

  <!-- Spin Items EmpCode -->
  <div *ngIf="numberOfSpinAreas > 0 && !isResultContentShow" class="spin-items form-row justify-content-center">
    <div [class]="item.cssClass" *ngFor="let item of spinData">
      <seven-seg digits="6" [value]="'1000000' + item.empCode"></seven-seg>
    </div>
  </div>

  <!-- Spin Item Result Content -->
  <div *ngIf="numberOfSpinAreas > 0 && isResultContentShow" class="spin-items form-row justify-content-center">
    <div [class]="item.cssClass" *ngFor="let item of spinData">
      <div class="card border-danger">
        <div class="card-header text-danger">
          <h1>{{item.empCode}}</h1>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{item.empName}}</h3>
          <h4 class="card-text">{{item.empDept}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button Bag -->
<img class="gift-box-icon" src="../../../../assets/gift-box-icon.png" alt="gift-box-icon"
  (click)="togglePrizeListVisible(null)">

<!-- Button Spin -->
<img class="spin-icon" src="../../../../assets/play-icon.png" alt="gift-box-icon" (click)="spinNumbers()">

<!-- List Prizes -->
<div *ngIf="isPrizeListVisible" class="list-group list-prize">
  <button *ngFor="let prize of prizes" type="button" [ngClass]="prize.prizeID === selectedPrize.prizeID ? 'active': ''"
    class="list-group-item list-group-item-action" (click)="selectPrize(prize)">{{prize.prizeName}}</button>
</div>

<!-- Prize Image -->
<div class="prize-img-wrapper">
  <img class="img-fluid" [src]="rootUrl + 'images/' + (selectedPrize.image ? selectedPrize.image : 'gift-icon.jpg')"
    alt="prize-img-wrapper">
</div>

<!-- Spin Remain -->
<div class="spin-remain-wrapper">
  <div>{{spinRemain.current}}{{spinRemain.current != null ? '/' : ''}}{{spinRemain.total}}</div>
</div>

<!-- Button Show Result -->
<div class="btn-result-areas" *ngIf="isResultButtonShow && spinData[0].empCode">
  <div class="btn-result" (click)="toggleResult()">Show Result</div>
  <div class="btn-reset" (click)="resetResult()">Reset</div>
</div>

<div>
  <audio #winnerAudio src="../../../../assets/audio/fanfare-winner.mp3"></audio>
  <audio #countingAudio src="../../../../assets/audio/game-countdown.mp3"></audio>
</div>