<div class="card bg-light">
  <div class="card-header">
    <h5><i class="fa fa-image"></i> Background</h5>
  </div>
  <div class="card-body text-center">
    <img class="img-fluid rounded" [src]="backgroundUrl" alt="background.jpg">
    <div class="d-block text-right mt-3">
      <label class="btn btn-primary rounded-pill">
        <i class="fa fa-sync-alt"></i> Change Background
        <input type="file" hidden="true" (change)="onSelectFile($event)" accept="image/*" />
      </label>
    </div>
  </div>
</div>